width = 720
height = 560
font = "Maple Mono NF"
font_size = 18
adaptive_height = true
corner_radius = "14"

bg_color = 0x191724e0
bg_border_color = 0x403d52ff
bg_border_width = 2.0

[input_text]
font_color = 0xe0def4ff
bg_color = 0x26233aec
margin = "10 14 8 14"
padding = "8 10"
corner_radius = "10"

[list_items]
font_color = 0x908caaff
selected_font_color = 0x9ccfd8ff
match_color = 0xf6c177ff
margin = "6 14 12 14"
item_spacing = 4
icon_spacing = 8

[icon]
size = 20

[mouse]
launch_on_middle = true
